.cartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em 2em;
}
.back {
  display: flex;
  align-items: center;
  gap: 1em;
}
.remove {
  color: crimson;
}
