.container{
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  gap: 1em;
}
.container img{
  max-width: 40vh;
  margin: 0 auto;
}
.container p{
  font-size: 1.4rem;
  padding:0 .5em;
}
.container button{
  font-size: 1.5rem;
}
.editItem{
  display: flex;
  align-items: center;
  position: relative;
}
.editItem span{
  position: absolute;
  top: -0.5em;
  left: 1.2em;
  background-color: #fff;
  padding: 0 0.2em;
  font-size: 0.8em;
}
.editItem input{
  font-size: 1rem;
  width: 100%;
  border-radius: 1em;
  padding:0.5em 1em;
  border: 2px solid var(--g-color);
}
.editButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editButton a{
  padding: 0.5rem 1rem;
  background-color: crimson;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0.625em;
}
.container .item{
  padding: 0.2em 0.6em;
}
@media (min-width: 600px){
  .container{
    flex-direction: row;
    align-items: center;
  }
  .container img{
    max-width: 30vw;
  }
  .editButton{
    position: absolute;
    top: 120px;
    right: 15px;
    gap: 1em;
  }
}