.account {
  display: flex;
  width: 100%;
  font-family: "Nunito";
  flex-direction: column;
  gap: 0.5rem;
}
.account-item {
  width: 100%;
  background-color: var(--g2-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.account-item span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.account-item:last-child {
  margin-bottom: 1rem;
}
