.sidebar-menuitem {
  font-family: "Nunito";
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--b2-color);
  border-radius: 0.5rem;
  color: #fff;
}
.logout {
  font-family: "Nunito";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logout-check {
  display: flex;
  gap: 0.5rem;
}
.logout-confirm {
  background-color: limegreen;
}
.logout-cancel {
  background-color: crimson;
}
.edit-profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.edit-item {
  font-family: "Nunito";
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
}
.edit-item label {
  background-color: var(--t-color);
  color: var(--g-color);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.edit-item input {
  background-color: var(--t-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  /* width: 100%; */
  border: none;
  outline: none;
  letter-spacing: 1px;
}
.edit-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.edit-confirm {
  width: 100%;
  background-color: limegreen;
}
.edit-cancel {
  width: 100%;
  background-color: crimson;
}
.edit-plus {
  color: #fff;
  background-color: var(--t-color);
  font-size: 2rem;
  border-radius: 50%;
  animation: hint 1s linear backwards infinite;
}
.edit-minus {
  color: #fff;
  background-color: var(--t-color);
  font-size: 2rem;
  border-radius: 50%;
}
@keyframes hint {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
