.sidebar-menuitem {
  font-family: "Nunito";
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--b2-color);
  border-radius: 0.5rem;
  color: #fff;
}
.logout {
  font-family: "Nunito";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logout-check {
  display: flex;
  gap: 0.5rem;
}
.logout-confirm {
  background-color: limegreen;
}
.logout-cancel {
  background-color: crimson;
}
.icon {
  color: var(--b2-color);
}
