.cart-button {
  font-size: 2.5rem;
  padding: 0.2em;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: #323142;
  color: #fff;
}
@media (max-width: 600px) {
  .cart-button_container{display: none;}
}