.header {
  display: flex;
  padding: 1.5rem;
  padding-top: 0;
  flex-wrap: wrap;
  gap: 1rem;
}
.header-title {
  font-family: "Mitr";
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.header-top .search {
  position: absolute;
  left: 10px;
  color: #8e8e8e;
}
@media (min-width: 600px) {
  .header-top .search {
    position: relative;
    padding: 0.2em;
    border-radius: 0.25em;
    background-color: #b9bac7;
    color: #323142;
    font-size: 2.5rem;
    left: auto;
    cursor: pointer;
    margin: 0 0 0 auto;
  }
}
.header-top input {
  width: 83%;
  font-size: 1rem;
  padding: 0.7rem 1.3rem;
  padding-left: 2.2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Nunito";
}
.header-top .sliders {
  color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: var(--b-color);
  padding: 0.5em;
  cursor: pointer;
}
.cart-button {
  font-size: 2.5rem;
  padding: 0.2em;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: #323142;
  color: #fff;
}
