.container {
  display: flex;
  flex-direction: column;
  padding: 0 1.2em;
  margin-top: 2em;
}
.item {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1em;
  border: 4px solid #b9bac7;
}
.item:first-child {
  border-bottom-width: 2px;
  border-radius: 1em 1em 0 0;
}
.item:nth-child(2) {
  border-top: none;
  border-bottom-width: 2px;
}
.item:nth-child(3) {
  border-top: none;
  border-radius: 0 0 1em 1em;
}
.icon{
  font-size: 1.5rem;
}