.accountHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.accountHeader__container {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1.5em;
  padding-bottom: 4.5em;
  background-color: #5b69ee;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 1.5em 1.5em;
}
.accountHeader__container .icon {
  font-size: 1.8rem;
  margin-left: 0.5em;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
}
@media (min-width: 600px) {
  .accountHeader {
    padding: 0 1.5em 1.5em 1.5em;
    gap: 2em;
  }
  .accountHeader__container {
    position: static;
    background-color: transparent;
    padding: 0;
  }
  .accountHeader__container button {
    display: none;
  }
  .accountHeader__container .icon {
    display: none;
  }
  .accountHeader__container h1 {
    color: #34333e;
    font-size: 2rem;
  }
}
