.container {
  display: flex;
  flex-direction: column;
  padding: 0 1.2em;
  margin-top: 2em;
}
.item {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1em;
  border: 4px solid #b9bac7;
  border-top: none;
  border-bottom-width: 2px;
}
.item:first-child {
  border-top: 4px solid #b9bac7;
  border-radius: 1em 1em 0 0;
}
.item:last-child {
  border-bottom: 4px solid #b9bac7;
  border-radius: 0 0 1em 1em;
}
.icon {
  font-size: 1.5rem;
}
.editing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.2em;
}
.editing button {
  font-size: 1.2rem;
}
.discardButton {
  background-color: crimson;
}
@media (min-width: 600px) {
  .container,
  .editing {
    position: absolute;
    top: 90px;
    right: 0;
    flex-direction: row;
    gap: 1em;
    width: 40%;
  }
  .editing {
    top: 15vh;
    gap: 2em;
  }
  .item:first-child,.item:last-child {
    border: none;
    background-color: #b9bac7;
    border-radius: 1em;
    cursor: pointer;
    justify-content: center;
  }
  .icon {
    display: none;
  }
}
