.profile {
  display: flex;
  gap: 0.5em;
  width: 100%;
}
.profile-img {
  width: 15vw;
  height: 15vw;
  position: relative;
}
.profile-img img {
  max-width: 100%;
  border-radius: 20px;
}
.profile-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-detail p {
  font-family: "Nunito";
  font-size: 1rem;
}
.profile-detail span {
  font-family: "Mitr";
  font-weight: 600;
  font-size: 1.1rem;
}
.title {
  font-family: "Mitr";
  font-weight: 600;
  letter-spacing: 1px;
}
.icon {
  display: none;
}
.account {
  width: 100%;
  align-items: center;
}
.close {
  font-size: 1.8rem;
  margin: 0 0 0 auto;
  cursor: pointer;
}
@media (min-width: 600px) {
  .title {
    display: none;
  }
  .icon {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: "Nunito";
    gap: 1em;
  }
  .icon .icon-container {
    width: 30%;
  }
  .icon-container img {
    width: 100%;
  }
  .icon-detail {
    display: flex;
    flex-direction: column;
  }
  .icon-detail h1 {
    font-family: "Mitr";
  }
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .profile-img {
    width: 7vw;
    height: 7vw;
  }
  .profile-img img {
    border: 7px solid #fff;
    border-radius: 2em;
  }
  .profile-detail span {
    font-family: "Nunito";
  }
}
