.profile {
  display: flex;
  gap: 0.5em;
}
.profile-img {
  width: 15vw;
  height: 15vw;
}
.profile-img img {
  max-width: 100%;
  border-radius: 20px;
}
.profile-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-detail p {
  font-family: "Nunito";
  font-size: 1rem;
}
.profile-detail span {
  font-family: "Mitr";
  font-weight: 600;
  font-size: 1.1rem;
}
.title {
  font-family: "Mitr";
  font-weight: 600;
  letter-spacing: 1px;
}
.account {
  width: 100%;
  align-items: center;
}
.close {
  font-size: 1.8rem;
  margin: 0 0 0 auto;
  cursor: pointer;
}
