.sidebar {
  padding: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sidebar-on {
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 1.5em;
  gap: 1em;
  border-radius: 0 0 1em 1em;
}
.sidebar-icon {
  font-size: 2.2rem;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 99;
}
@media (min-width: 600px) {
  .sidebar {
    grid-column: 1/3;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 1em;
  }
  .sidebar-on {
    background-color: transparent;
  }
}
