.mealsItem-container {
  position: relative;
}
.mealsItem {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.imgLoading {
  opacity: 0;
}
.mealsItem-img {
  width: 50vw;
}
.mealsItem-img img {
  max-width: 100%;
}
.mealsItem-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mealsItem-detail .title {
  font-weight: 600;
  font-size: 1.2rem;
}
.mealsItem-detail .toppings {
  font-family: "Nunito";
  color: var(--g2-color);
  font-size: 0.9rem;
}
@media (min-width: 600px) {
  .mealsItem {
    flex-direction: column;
    box-shadow: none;
  }
  .mealsItem-img {
    width: 17vw;
  }
  .mealsItem-detail .title {
    font-size: 1.3rem;
  }
  .mealsItem-detail .toppings {
    font-size: 1rem;
  }
}
