@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
:root{
  /* font-size: 62.5%; */
  --bg-color : #EAEAEA;
  --b-color : #5B69EE;
  --b2-color : #A4ADF3;
  --g-color : #B9BAC7;
  --g2-color : #CDBFBF;
  --t-color : #323142;
}
body{
  min-height:  100vh;
  color : var(--t-color);
}
#root{
  display: grid;
}